<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper clearfix">
	<div class="player-0-panel ">
		<div class="player-name">You</div>
		<div class="player-score" id="score-0">{{this.humanScore}}</div>
    <div class="player-hand" id="player-hand-0" *ngFor="let playerCard of this.humanPlayerHand">
      <img src="../assets/cards/{{playerCard.suit}}/{{playerCard.name}}.jpg"/>
    </div>
      
	</div>

	<div class="player-1-panel">
		<div class="player-name">Dealer</div>
		<div class="player-score" id="score-1">{{this.computerScore}}</div>
		<div class="player-hand" id="player-hand-1" *ngFor="let playerCard of this.computerPlayerHand">
      <img src="../assets/cards/{{playerCard.suit}}/{{playerCard.name}}.jpg"/>
    </div>
	</div>

  <div class="message"> 
    <p>Winner: {{this.winner}}</p> 
    <p>Human score: {{this.humanScore}}</p>
    <p>Dealer score: {{this.computerScore}}</p>
  </div>
  
	<button class="btn-new" (click)="newGame()" >New game</button>
	<button class="btn-hit" (click)="onHit()" [style.visibility]="isButtonVisible ? 'visible' : 'hidden'">Hit</button>
	<button class="btn-stand" (click)="onStand()" [style.visibility]="isButtonVisible ? 'visible' : 'hidden'">Stand</button>
  
</div>


<router-outlet></router-outlet>
